---
language: ruby
sudo: false
cache: bundler
bundler_args: --without development system_tests
before_install: rm Gemfile.lock || true
script: "bundle exec rake spec"
branches:
  only:
  - master
rvm:
- 1.9.3
- 2.0.0
- 2.1.5
- 2.2.0
env:
  matrix:
  - PUPPET_GEM_VERSION="~> 3.6.0"
  - PUPPET_GEM_VERSION="~> 3.7.0"
  - PUPPET_GEM_VERSION="~> 3.8.0"
  - PUPPET_GEM_VERSION="~> 3.8.0" FUTURE_PARSER="yes"
  - PUPPET_GEM_VERSION="~> 4.0.0"
  - PUPPET_GEM_VERSION="~> 4.1.0"
matrix:
  fast_finish: true
  exclude:
  - rvm: 2.2
    env: PUPPET_GEM_VERSION="~> 3.6.0"
  - rvm: 2.2
    env: PUPPET_GEM_VERSION="~> 3.7.0"
  - rvm: 2.2
    env: PUPPET_GEM_VERSION="~> 3.8.0"
  - rvm: 2.2
    env: PUPPET_GEM_VERSION="~> 3.8.0" FUTURE_PARSER="yes"
